# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Azure DevOps
.azure-pipelines/

# OS
.DS_Store
Thumbs.db